<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.backend.mapper.BoardMapper">

    <select id="selectBoardsWithKeyword" resultType="com.board.backend.model.BoardDto$Response">
        SELECT
            t.*
        FROM (
            SELECT
                ROW_NUMBER() OVER (ORDER BY id) as rownum,
                board.*
            FROM board
            WHERE 1 = 1
            <if test="keyword != null and keyword != ''">
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
        ) AS t
    </select>

    <select id="selectBoardById" resultType="com.board.backend.model.BoardDto$Response">
        SELECT id,
               title,
               content,
               writer,
               view_count,
               created_id,
               created_dt,
               modified_dt
        FROM board
        WHERE id = #{id}
    </select>

    <select id="selectBoardDetailById" resultType="com.board.backend.model.BoardDto$Detail">
        SELECT id,
               title,
               content,
               writer,
               password,
               view_count,
               created_id,
               created_dt,
               modified_dt
        FROM board
        WHERE id = #{id}
    </select>

    <insert id="insertBoard" parameterType="com.board.backend.model.BoardDto$Create" keyProperty="form.id" useGeneratedKeys="true">
        INSERT INTO board (title, content, writer, password, created_id)
        VALUES (#{form.title}, #{form.content}, #{form.writer}, #{form.password}, #{form.created_id})
    </insert>

    <update id="updateBoardById" parameterType="com.board.backend.model.BoardDto$Update">
        UPDATE board
        SET title=#{form.title},
            content=#{form.content},
            writer=#{form.writer},
            password=#{form.password}
        WHERE id = #{id}
    </update>

    <delete id="deleteBoardById" parameterType="long">
        DELETE FROM board
        WHERE id = #{id}
    </delete>
</mapper>