.login-container {

}

form {
  border: 3px solid #f1f1f1;
}

.input-container, .footer-container {
  padding: 16px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  opacity: 0.8;
}

.cancel-button {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

.avatar {
  width: 40%;
  border-radius: 50%;
}

.remember-me {
  /* Add styles if needed */
}

.password-reset {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  .password-reset {
    display: block;
    float: none;
  }

  .cancel-button {
    width: 100%;
  }
}
