.signup-container {

}

.signup-input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-input:focus {
  background-color: #ddd;
  outline: none;
}

.signup-hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.signup-button-container button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup-button-container button:hover {
  opacity: 1;
}

.signup-cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.signup-cancelbtn, .signup-signupbtn {
  float: left;
  width: 50%;
}

.signup-button-container {
  padding: 16px;
}

.signup-button-container::after {
  content: "";
  clear: both;
  display: table;
}

.signup-remember {
  margin-bottom: 15px;
}

.signup-checkbox {

}

.signup-terms {

}

.signup-terms-link {
  color: dodgerblue;
}

@media screen and (max-width: 300px) {
  .signup-cancelbtn, .signup-signupbtn {
    width: 100%;
  }
}
